body {
  background-color: rgb(15, 15, 15);
  height: 100vh;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 2vmin 0;
  touch-action: pinch-zoom;
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#top-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#top-banner > p, #toggle-sound {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 6vmin;
  margin: 0;
}

h1, h2 {
  color: whitesmoke;
  text-align: center;
  margin: 0;
}

h1, #toggle-sound {
  padding-top: 2vmin;
  font-size: 5vmin;
}

#top-banner > div {
  visibility: hidden;
}

h2 {
  font-size: 3vmin;
}

#difficulties {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vmin;
  padding: 2vmin;
}

.mode, #reset-button {
  height: 5vmin;
  width: 10vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mode, .key, #reset-button {
  font-size: 2vmin;
  color: black;
  font-weight: 600;
  border: none;
  border-radius: 0.5vmin;
  margin: 0;
}

button:hover, #toggle-sound:hover {
  cursor: pointer;
}

button:active {
  background-color: rgb(149, 149, 149);
}

.board, #keyboard {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  justify-content: center;
  gap: 0.75vmin;
  height: 41vmin;
  font-size: 4vmin;
  margin-bottom: 6vmin;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75vmin;
  width: 35vmin;
  animation: shake 0.5s infinite linear;
  animation-play-state: paused;
}

.sqr {
  color: whitesmoke;
  border: 1px solid white;
  height: 6vmin;
  width: 6vmin;
}

.flip {
  animation: verticalFlip 0.5s 1;
}

.sqr, .keyboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

#keyboard {
  justify-content: center;
  gap: 1vmin;
  height: 26vmin; 
  width: 63vmin;
  font-size: 3vmin;
  margin-bottom: 5vmin;
}

.keyboard-row {
  gap: 1vmin;
}

.key {
  height: 6vmin;
  width: 5vmin; 
}

#enter, #backspace {
  width: max-content;
}

.grey {
  background-color: rgb(149, 149, 149);
  
}

.yellow {
  background-color: rgb(224, 184, 81);
}

.green {
  background-color: rgb(37, 147, 37);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes verticalFlip {
  0% {
    transform: perspective(120px) rotateX(90deg);
    opacity: 1;
    animation-timing-function: ease-in;
  }
  
  30% {
    opacity: 1;
    animation-timing-function: ease-in;
  }
  
  100% {
    transform: perspective(120px) rotateX(0deg);
    animation-timing-function: ease-in;
  }
}

@media only screen and (max-width: 820px) {
  body {
    height: 70vh;
  }

  body:first-child {
    height: 20vmax;
  }
  
  #header {
    width: 85%;
  }
  
  h1, #toggle-sound {
    font-size: 4vmax;
    padding-top: 1vmin;
  }

  h2 {
    font-size: 2.5vmax;
  }

  .mode {
    width: 10vmax;
    height: 4vmax;
    max-width: 15%;
    font-size: 1.5vmax;
  }

  .board {
    height: 55vmax;
    font-size: 4vmax;
    gap: 0.75vmax;
    margin-bottom: 6vmin;
  }

  .row {
    width: 35vmax;
    gap: 0.75vmax;
  }

  .sqr {
    height: 6vmax;
    width: 6vmax;
  }

  #keyboard {
    gap: 0.5vmax;
    height: 25vmax; 
    width: 45vmax;
    margin: 0;
  }
  
  .keyboard-row {
    gap: 0.5vmax;
  }
  
  .key {
    height: 6vmax;
    width: 3.75vmax; 
    font-size: 1.5vmax;
  }

  #reset-button {
    height: 3vmax;
    width: 10vmax;
    font-size: 1.5vmax;
  }
}