body {
  background-color: rgb(15, 15, 15);
  height: 100vh;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 2vmin 0;
}

body:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2 {
  color: whitesmoke;
  text-align: center;
  margin: 0;
}

h1 {
  padding: 2vmin;
  font-size: 5vmin;
}

h2 {
  font-size: 3vmin;
}

#difficulties {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vmin;
  padding: 2vmin;
}

.mode, #reset-button {
  height: 5vmin;
  width: 10vmin;
}

.mode, .key, #reset-button {
  font-size: 2vmin;
  font-weight: 600;
  border: none;
  border-radius: 0.5vmin;
  margin: 0;
}

button:hover {
  cursor: pointer;
}

.board, #keyboard {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  justify-content: space-around;
  height: 41vmin;
  font-size: 4vmin;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 35vmin;
  animation: shake 0.5s infinite linear;
  animation-play-state: paused;
}

.sqr {
  color: whitesmoke;
  border: 1px solid white;
  height: 6vmin;
  width: 6vmin;
}

.front, .back {
  position: relative;
  backface-visibility: hidden;
  perspective: 1000px;
}

.sqr, .front, .back, .content {
  transition: 1.5s;
}

.back {
  transform: rotateY(180deg);
}

.sqr, .keyboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

#keyboard {
  justify-content: center;
  gap: 1vmin;
  height: 26vmin; 
  font-size: 3vmin;
  margin: 5vmin;
}

.keyboard-row {
  gap: 1vmin;
}

.key {
  height: 6vmin;
  width: 5vmin; 
}

#enter, #backspace {
  width: max-content;
}

.grey {
  background-color: rgb(149, 149, 149);
  
}

.yellow {
  background-color: rgb(224, 184, 81);
}

.green {
  background-color: rgb(37, 147, 37);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}